h1 {
  text-align: center;
  color: cornflowerblue;
}
body,
html {
  height: 100%;
  margin: 0;
  display:flex;
  flex-direction: column;
}
.home-main{
  display:flex;
  flex-direction: column;
  text-align: center;
}
.main-content {
  min-height: 100%;
  /* Adjust padding to the height of the footer */
  padding-bottom: 60px; /* Height of the footer */
  box-sizing: border-box;
  flex:1;
}

.footer {
  height: 60px; /* Height of the footer */
  width:100%;
  bottom: 0;
  position: fixed;
  /* Your existing footer styles */
  background-color: #0d6efd;
  
}
